<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Registrarse</title>
</head>
<body>
    <header class="main-header">
        <div class="logo">Mi e-commerce</div>
        <nav class="main-nav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/registrarse">Registrarse</a></li>
            </ul>
        </nav>
    </header>
    <img src="/imagenes/banner.jpg" alt="">
</body>
</html>