<header class="main-header">
    <div class="logo">La Ribera Store</div>
    <nav class="main-nav">
        <ul>
            <li><a href="/">Inicio</a></li>
            <!-- <li><a href="/personas">Personas</a></li> -->
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/usuarios">Usuarios</a></li>
            <li><a href="/registrarse">Registrarse</a></li>
            <li><a href="/login">Iniciar Sesión</a></li>
            <!-- <li><a href="/pys">P & S </a></li> -->
        </ul>
    </nav>
</header>